<div class="overflow-x-auto">
  <div class="min-w-screen min-h-screen bg-gray-100 flex pt-20 justify-center bg-gray-100 font-sans overflow-hidden">
    <div class="w-full lg:w-5/6">
    <%= link_to  "Create new search", new_user_search_path(current_user), class: "inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"  %> 
      <%= link_to  "See all Searches", user_searches_path(@user), class: "inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"  %> 
    
      <div class="bg-white shadow-md rounded my-6">
          <% current_user.searches.order(frequency: :desc).last(20).each do |search| %>
                  <div class="flex items-center">
                    <span class="text-gray-900 text-xl leading-tight font-medium px-6 py-6"><%= link_to  search.searching_for, user_search_path(current_user, search), class: "mb-6"  %></span>
                    <span class="text-gray-900 text-xl leading-tight font-medium px-6 py-6"><%= search.frequency %></span>
                  </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  
