<div class="overflow-x-auto">
  <div class="min-w-screen min-h-screen bg-gray-100 flex pt-20 justify-center bg-gray-100 font-sans overflow-hidden">
    <div class="w-full lg:w-5/6">
    
      <div class="bg-white shadow-md rounded my-6">
        <table class="min-w-max w-full table-auto">
          <thead>     
          <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
              <th class="py-3 px-6 text-left">Search</th>
              <th class="py-3 px-6 text-left">Frequency</th>
          </tr> 
          </thead>
          
          <tbody class="text-gray-600 text-sm font-light">
          <% @searches.order(frequency: :desc).limit(30).each do |search| %>
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left whitespace-nowrap">
                  <div class="flex items-center">
                    <span class="text-gray-900 text-xl leading-tight font-medium px-6 py-6"><%= search.searching_for %></span>
                  </div>
                </td>
                <td class="py-3 px-6 text-left">
                  <div class="flex items-center">
                    <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs"><%= search.frequency %></span>
                  </div>
                </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  